html {
    box-sizing: border-box;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

.body {
    font-family: "lato", sans-serif;
    background-image: url(../images/backgroundImage.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.form {
    max-width: 600px;
    margin:80px auto;
    background-color: hsl(0, 2%, 11%);
    color: hsl(208, 100%, 97%);
    padding: 20px;
}

.form__button {
    width: 100%;
    background-color: hsl(0, 0%, 25%);
    color: hsl(208, 100%, 97%);
    padding: 10px;
    margin: 10px;
 }
 
 .form__button:hover {
    background-color: hsl(0, 0%, 35%);
    color: hsl(0, 0%, 70%);
 }
 
 .form__button:active {
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 95%);
 }

